In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
from datetime import datetime

In [3]:
df=pd.read_csv("D:/GUVI/House Price Prediction/train-chennai-sale.csv")
df

,PRT_ID,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,...,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,1+0.04,"POWER(Z,Y)"
0,P09411,Anna Nagar,1986,19-12-2006,2.0,1.0,5,Ab Normal,No,22-12-1995,...,4.9,4.2,2.5,3.765,760122,304049,21717770,4.067698e+07,1.04,1.872981
1,P05346,Velachery,1855,13-03-2010,3.0,2.0,5,Family,No,18-03-1988,...,4.7,3.9,3.6,4.010,356321,77042,9630290,1.541840e+07,1.04,1.601032
2,P00219,Chrompet,1220,11-09-2014,2.0,1.0,4,Partial,No,12-09-2009,...,4.5,2.6,3.1,3.320,409027,198316,12394750,1.696307e+07,1.04,1.368569
3,P09105,Chrompet,1167,05-04-2007,1.0,1.0,3,Partial,No,12-04-1979,...,3.6,2.1,2.5,2.670,263152,33955,8488790,1.528783e+07,1.04,1.800944
4,P09679,Velachery,1847,13-03-2006,3.0,2.0,5,Family,No,15-03-1996,...,2.4,4.5,2.1,3.260,604809,235204,16800250,3.146655e+07,1.04,1.872981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,P05438,T Nagar,1733,24-02-2010,1.0,1.0,4,Ab Normal,Yes,02-03-1985,...,3.4,3.7,2.1,2.890,702058,312026,19501600,3.122269e+07,1.04,1.601032
7105,P05042,Karapakkam,666,11-05-2010,1.0,1.0,2,Adj Land,Yes,20-05-1974,...,3.2,4.4,2.5,3.280,273317,74541,6211750,9.945212e+06,1.04,1.601032
7106,P10000,Velachery,1897,08-04-2004,3.0,2.0,5,Family,Yes,11-04-1995,...,3.6,4.5,3.3,3.920,346191,205551,10818480,2.191626e+07,1.04,2.025817
7107,P06508,Karapakkam,787,03-08-2009,1.0,1.0,2,Partial,Yes,11-08-1977,...,4.6,3.8,4.1,4.160,425350,119098,8507000,1.416478e+07,1.04,1.665074
7108,P09794,Velachery,1896,13-07-2005,3.0,2.0,5,Partial,Yes,24-07-1961,...,3.1,3.5,4.3,3.640,349177,79812,9976480,1.943319e+07,1.04,1.947900

In [4]:
df.drop(['INF_PRICE','1+0.04','POWER(Z,Y)','PRT_ID'],axis=1,inplace=True)

In [5]:
df.set_index("DATE_SALE",inplace=True)
df.index=pd.to_datetime(df.index)
df['sale_year']=df.index.year
df['sale_month']=df.index.month
df['sale_day']=df.index.day
df['day_of_week']=df.index.dayofweek

C:\Users\avmoh\AppData\Local\Temp\ipykernel_1608\2143472399.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df.index=pd.to_datetime(df.index)

In [6]:
df.reset_index(drop=True,inplace=True)

In [7]:
df

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,...,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,sale_year,sale_month,sale_day,day_of_week
0,Anna Nagar,1986,2.0,1.0,5,Ab Normal,No,22-12-1995,Commercial,AllPub,...,4.2,2.5,3.765,760122,304049,21717770,2006,12,19,1
1,Velachery,1855,3.0,2.0,5,Family,No,18-03-1988,Others,NoSewer,...,3.9,3.6,4.010,356321,77042,9630290,2010,3,13,5
2,Chrompet,1220,2.0,1.0,4,Partial,No,12-09-2009,Commercial,NoSewer,...,2.6,3.1,3.320,409027,198316,12394750,2014,9,11,3
3,Chrompet,1167,1.0,1.0,3,Partial,No,12-04-1979,Others,AllPub,...,2.1,2.5,2.670,263152,33955,8488790,2007,4,5,3
4,Velachery,1847,3.0,2.0,5,Family,No,15-03-1996,Commercial,AllPub,...,4.5,2.1,3.260,604809,235204,16800250,2006,3,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,T Nagar,1733,1.0,1.0,4,Ab Normal,Yes,02-03-1985,Commercial,NoSewer,...,3.7,2.1,2.890,702058,312026,19501600,2010,2,24,2
7105,Karapakkam,666,1.0,1.0,2,Adj Land,Yes,20-05-1974,Others,ELO,...,4.4,2.5,3.280,273317,74541,6211750,2010,5,11,1
7106,Velachery,1897,3.0,2.0,5,Family,Yes,11-04-1995,Others,NoSewer,...,4.5,3.3,3.920,346191,205551,10818480,2004,4,8,3
7107,Karapakkam,787,1.0,1.0,2,Partial,Yes,11-08-1977,Commercial,ELO,...,3.8,4.1,4.160,425350,119098,8507000,2009,8,3,0
7108,Velachery,1896,3.0,2.0,5,Partial,Yes,24-07-1961,Others,ELO,...,3.5,4.3,3.640,349177,79812,9976480,2005,7,13,2

In [8]:
from datetime import datetime
def convert_date(dateformat):
  x=datetime.strptime(dateformat,"%d-%m-%Y")
  return x.toordinal()

In [9]:
df.DATE_BUILD=df.DATE_BUILD.apply(lambda i:convert_date(i))

In [10]:
df.dropna(how="any",subset=['N_BEDROOM','N_BATHROOM'],inplace=True)

In [11]:
df['QS_OVERALL']=df.apply(lambda i:round(i['QS_OVERALL'],2) if not np.isnan(i['QS_OVERALL'])else round(np.mean([i['QS_ROOMS'],i['QS_BATHROOM'],i['QS_BEDROOM']]),2),axis=1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7103 entries, 0 to 7108
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AREA           7103 non-null   object
 1   INT_SQFT       7103 non-null   int64
 2   N_BEDROOM      7103 non-null   float64
 3   N_BATHROOM     7103 non-null   float64
 4   N_ROOM         7103 non-null   int64
 5   SALE_COND      7103 non-null   object
 6   PARK_FACIL     7103 non-null   object
 7   DATE_BUILD     7103 non-null   int64
 8   BUILDTYPE      7103 non-null   object
 9   UTILITY_AVAIL  7103 non-null   object
 10  STREET         7103 non-null   object
 11  MZZONE         7103 non-null   object
 12  QS_ROOMS       7103 non-null   float64
 13  QS_BATHROOM    7103 non-null   float64
 14  QS_BEDROOM     7103 non-null   float64
 15  QS_OVERALL     7103 non-null   float64
 16  REG_FEE        7103 non-null   int64
 17  COMMIS         7103 non-null   int64
 18  SALES_PRICE    7103 non-null   int64
 19  sale_year      7103 non-null   int32
 20  sale_month     7103 non-null   int32
 21  sale_day       7103 non-null   int32
 22  day_of_week    7103 non-null   int32
dtypes: float64(6), int32(4), int64(6), object(7)
memory usage: 1.2+ MB

In [13]:
from sklearn.preprocessing import LabelEncoder
encoded=LabelEncoder()
for i in df.select_dtypes(include=['object']).columns:
    df[i]=encoded.fit_transform(df[i])

In [14]:
df

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,...,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,sale_year,sale_month,sale_day,day_of_week
0,1,1986,2.0,1.0,5,0,0,728649,0,0,...,4.2,2.5,3.77,760122,304049,21717770,2006,12,19,1
1,6,1855,3.0,2.0,5,2,0,725814,2,2,...,3.9,3.6,4.01,356321,77042,9630290,2010,3,13,5
2,2,1220,2.0,1.0,4,4,0,733662,0,2,...,2.6,3.1,3.32,409027,198316,12394750,2014,9,11,3
3,2,1167,1.0,1.0,3,4,0,722551,2,0,...,2.1,2.5,2.67,263152,33955,8488790,2007,4,5,3
4,6,1847,3.0,2.0,5,2,0,728733,0,0,...,4.5,2.1,3.26,604809,235204,16800250,2006,3,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,5,1733,1.0,1.0,4,0,1,724702,0,2,...,3.7,2.1,2.89,702058,312026,19501600,2010,2,24,2
7105,4,666,1.0,1.0,2,1,1,720763,2,1,...,4.4,2.5,3.28,273317,74541,6211750,2010,5,11,1
7106,6,1897,3.0,2.0,5,2,1,728394,2,2,...,4.5,3.3,3.92,346191,205551,10818480,2004,4,8,3
7107,4,787,1.0,1.0,2,4,1,721942,0,1,...,3.8,4.1,4.16,425350,119098,8507000,2009,8,3,0
7108,6,1896,3.0,2.0,5,4,1,716080,2,1,...,3.5,4.3,3.64,349177,79812,9976480,2005,7,13,2

**Hypothesis**

In [15]:
#spliting category and continous
catagory=[]
continous=[]
threshold=15
for i in df.columns:
    if df[i].nunique()<threshold:
        catagory.append(i)
    else:
        continous.append(i)

In [16]:
catagory,continous

(['AREA',
  'N_BEDROOM',
  'N_BATHROOM',
  'N_ROOM',
  'SALE_COND',
  'PARK_FACIL',
  'BUILDTYPE',
  'UTILITY_AVAIL',
  'STREET',
  'MZZONE',
  'sale_year',
  'sale_month',
  'day_of_week'],
 ['INT_SQFT',
  'DATE_BUILD',
  'QS_ROOMS',
  'QS_BATHROOM',
  'QS_BEDROOM',
  'QS_OVERALL',
  'REG_FEE',
  'COMMIS',
  'SALES_PRICE',
  'sale_day'])

In [17]:
def two_sample(d1,d2): #continuous vs continuous
  m=[0,0]
  for i in range(31):
      sample1 = d1.sample(frac=0.03)
      sample2 = d2.sample(frac=0.04)
      t_test , p_value = stats.ttest_ind(sample1,sample2) #two_sample t-test
      if p_value < 0.03: #setting critical point , level of significance = 0.03
          m[1]+=1
      else:
          m[0]+=1

  if m[0]>m[1]:
    #print("H0 accept null hypothesis, Ha rejects alternate hypothesis, dependent samples , data is normally distributed")
    return True
  elif m[0]<m[1]:
    #print("H0 Reject null hypothesis, Ha accepts alternate hypothesis , independent samples , data is not normally distributed")
    return False

In [18]:
def Chi_square(d1,d2): #category vs category
  value = stats.chi2_contingency(pd.crosstab(d1,d2).values)
  if value[1] < 0.03:
      #print("reject null hypothesis , accept alternative hypothesis , dependent")
      return True
  else:
      #print("accept null hypothesis , reject alternative hypothesis , independent")
      return False

In [19]:
def Chi_square1(d1,d2):
  return True if stats.chi2_contingency(pd.crosstab(d1,d2).values)[1] < 0.03 else False

In [24]:
def annova(c1,c2): #category vs continuous
  group=df[c1].unique()
  data={}
  for i in group:
    data[i]=df[c2][df[c1]==i]
  f_value , p_value = stats.f_oneway(*[i for i in data.values()])
  if p_value < 0.05:
    #print("reject null hypothesis , accept alternative hypothesis , independent")
    return False
  else:
    # print("accept null hypothesis , reject alternative hypothesis , dependent")
    return True

In [25]:
def annova1(c1,c2): #category vs continuous
  group=df[c1].unique()
  data={}
  for i in group:
    data[i]=df[c2][df[c1]==i]
  return False if stats.f_oneway(*[i for i in data.values()])[1] < 0.05 else True

In [26]:
house={}
for i in df.columns:
  house[i]={}
  for j in df.columns:
    if i=='SALES_PRICE' or j=='SALES_PRICE':
      continue
    elif i in continous and j in continous:
      result=two_sample(df[i],df[j])
    elif i in catagory and j in catagory:
      result=Chi_square(df[i],df[j])
    elif i in catagory and j in continous:
      result=annova(i,j)
    elif i in continous and j in catagory:
      result=annova(j,i)
    if result:
      house[i][j]=1
    else:
      house[i][j]=0

In [27]:
house_df=pd.DataFrame(house)
house_df.drop("SALES_PRICE",axis=1,inplace=True)
house_df

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,...,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,sale_year,sale_month,sale_day,day_of_week
AREA,1,0,1,1,1,0,0,0,0,1,...,1,1,1,1,0,0,1,0,1,0
INT_SQFT,0,1,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
N_BEDROOM,1,0,1,1,1,0,0,0,0,1,...,1,1,1,1,0,0,1,0,1,0
N_BATHROOM,1,0,1,1,1,0,0,1,0,1,...,1,1,1,1,0,0,1,0,1,0
N_ROOM,1,0,1,1,1,1,0,0,0,1,...,1,1,1,1,0,0,1,0,1,0
SALE_COND,0,1,0,0,1,1,0,1,0,0,...,1,1,1,1,0,0,0,0,1,0
PARK_FACIL,0,1,0,0,0,0,1,1,0,0,...,1,1,1,1,0,0,0,0,1,0
DATE_BUILD,0,0,0,1,0,1,1,1,1,0,...,0,0,0,0,0,0,0,1,0,1
BUILDTYPE,0,1,0,0,0,0,0,1,1,0,...,1,1,1,1,0,0,0,0,1,0
UTILITY_AVAIL,1,0,1,1,1,0,0,0,0,1,...,1,1,1,1,0,0,1,0,1,0
STREET,1,0,1,1,1,0,0,0,0,1,...,1,1,1,1,0,0,1,1,1,0
MZZONE,1,0,1,1,1,0,0,0,0,1,...,1,1,1,1,0,0,1,0,1,1
QS_ROOMS,1,0,1,1,1,1,1,0,1,1,...,1,1,1,1,0,0,1,0,0,1
QS_BATHROOM,1,0,1,1,1,1,1,0,1,1,...,1,1,1,1,0,0,1,0,0,1
QS_BEDROOM,1,0,1,1,1,1,1,0,1,1,...,1,1,1,1,0,0,1,1,0,1
QS_OVERALL,1,0,1,1,1,1,1,0,1,1,...,1,1,1,1,0,0,1,0,0,0
REG_FEE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
COMMIS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
sale_year,1,0,1,1,1,0,0,0,0,1,...,1,1,1,1,0,0,1,1,0,0
sale_month,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,1,1,1,1,0,0
sale_day,1,0,1,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,1,1
day_of_week,0,1,0,0,0,0,0,1,0,0,...,1,1,1,0,1,1,0,0,1,1

In [28]:
df.corr()

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,...,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,sale_year,sale_month,sale_day,day_of_week
AREA,1.000000,0.351621,0.361694,0.221918,0.279645,-0.007097,0.010308,-0.209434,-0.008882,0.004542,...,-0.001504,0.003285,0.005080,0.073942,0.218794,-0.019009,-0.185494,-0.003025,-0.004489,0.024228
INT_SQFT,0.351621,1.000000,0.786392,0.515433,0.951271,0.006902,0.004739,-0.009861,-0.006148,0.014770,...,-0.008168,0.008385,0.012066,0.657435,0.571125,0.612026,-0.123464,-0.019492,-0.003152,0.023356
N_BEDROOM,0.361694,0.786392,1.000000,0.755214,0.840357,0.010203,-0.009543,0.011683,-0.001791,0.018672,...,-0.007692,0.015335,0.012560,0.455301,0.430224,0.330933,-0.184801,-0.017333,-0.014724,0.026277
N_BATHROOM,0.221918,0.515433,0.755214,1.000000,0.568725,0.001966,-0.014045,0.001281,-0.003151,0.020217,...,-0.012124,0.013076,0.007622,0.260299,0.256510,0.108884,-0.105212,0.002471,-0.021267,0.024784
N_ROOM,0.279645,0.951271,0.840357,0.568725,1.000000,0.009680,-0.000935,0.012915,-0.007056,0.016172,...,-0.007428,0.014618,0.013965,0.630801,0.533423,0.602637,-0.109019,-0.015607,-0.006389,0.016808
SALE_COND,-0.007097,0.006902,0.010203,0.001966,0.009680,1.000000,-0.012260,0.009108,-0.010442,0.004001,...,-0.013348,-0.006603,-0.008687,-0.030621,-0.034681,-0.030641,0.001820,0.003415,-0.002030,0.009716
PARK_FACIL,0.010308,0.004739,-0.009543,-0.014045,-0.000935,-0.012260,1.000000,0.007697,-0.006608,0.003886,...,-0.012367,-0.001168,-0.010501,0.139969,0.097449,0.146375,-0.004013,-0.007764,-0.010834,0.003845
DATE_BUILD,-0.209434,-0.009861,0.011683,0.001281,0.012915,0.009108,0.007697,1.000000,0.000131,0.002885,...,-0.021707,0.017911,-0.011714,0.108156,0.086939,0.115991,0.226117,-0.003547,0.007455,0.000358
BUILDTYPE,-0.008882,-0.006148,-0.001791,-0.003151,-0.007056,-0.010442,-0.006608,0.000131,1.000000,0.014840,...,0.009695,-0.000386,0.002879,-0.400015,-0.275189,-0.436634,0.018713,0.000396,-0.001686,-0.010293
UTILITY_AVAIL,0.004542,0.014770,0.018672,0.020217,0.016172,0.004001,0.003886,0.002885,0.014840,1.000000,...,0.005123,0.008902,0.010993,-0.012833,-0.000978,-0.023831,0.015521,0.011070,-0.013474,-0.004913
STREET,0.014486,0.008282,0.003700,-0.009377,0.000030,0.012089,0.007241,-0.000619,-0.010683,0.009551,...,0.012118,-0.018575,0.006519,-0.031719,-0.022514,-0.042744,0.023765,-0.010058,0.017360,0.002933
MZZONE,-0.153607,0.143375,0.050366,-0.046791,0.163782,0.023217,-0.007191,0.130231,-0.017353,0.011912,...,-0.017131,0.003965,-0.005272,0.330484,0.246379,0.427968,0.124864,-0.003485,0.008297,0.002046
QS_ROOMS,0.004842,0.019720,0.014750,0.013219,0.016410,0.004250,-0.008249,-0.018649,-0.001001,0.007244,...,0.008809,0.008284,0.517379,0.019772,0.008976,0.021960,0.002953,0.025911,-0.015402,-0.018552
QS_BATHROOM,-0.001504,-0.008168,-0.007692,-0.012124,-0.007428,-0.013348,-0.012367,-0.021707,0.009695,0.005123,...,1.000000,-0.011646,0.551830,-0.006705,-0.000585,-0.011361,0.000085,-0.011931,0.001249,-0.025359
QS_BEDROOM,0.003285,0.008385,0.015335,0.013076,0.014618,-0.006603,-0.001168,0.017911,-0.000386,0.008902,...,-0.011646,1.000000,0.630103,0.020903,0.019928,0.018430,0.003730,0.005327,-0.024303,0.002421
QS_OVERALL,0.005080,0.012066,0.012560,0.007622,0.013965,-0.008687,-0.010501,-0.011714,0.002879,0.010993,...,0.551830,0.630103,1.000000,0.021009,0.016641,0.019640,-0.001010,0.005541,-0.023694,-0.027300
REG_FEE,0.073942,0.657435,0.455301,0.260299,0.630801,-0.030621,0.139969,0.108156,-0.400015,-0.012833,...,-0.006705,0.020903,0.021009,1.000000,0.660004,0.878126,-0.029383,-0.007707,-0.002918,0.010341
COMMIS,0.218794,0.571125,0.430224,0.256510,0.533423,-0.034681,0.097449,0.086939,-0.275189,-0.000978,...,-0.000585,0.019928,0.016641,0.660004,1.000000,0.626413,0.000688,-0.008782,-0.004418,0.011027
SALES_PRICE,-0.019009,0.612026,0.330933,0.108884,0.602637,-0.030641,0.146375,0.115991,-0.436634,-0.023831,...,-0.011361,0.018430,0.019640,0.878126,0.626413,1.000000,0.001311,-0.006609,0.003393,0.006550
sale_year,-0.185494,-0.123464,-0.184801,-0.105212,-0.109019,0.001820,-0.004013,0.226117,0.018713,0.015521,...,0.000085,0.003730,-0.001010,-0.029383,0.000688,0.001311,1.000000,-0.124255,-0.005099,0.003249
sale_month,-0.003025,-0.019492,-0.017333,0.002471,-0.015607,0.003415,-0.007764,-0.003547,0.000396,0.011070,...,-0.011931,0.005327,0.005541,-0.007707,-0.008782,-0.006609,-0.124255,1.000000,0.018078,0.015500
sale_day,-0.004489,-0.003152,-0.014724,-0.021267,-0.006389,-0.002030,-0.010834,0.007455,-0.001686,-0.013474,...,0.001249,-0.024303,-0.023694,-0.002918,-0.004418,0.003393,-0.005099,0.018078,1.000000,-0.013315
day_of_week,0.024228,0.023356,0.026277,0.024784,0.016808,0.009716,0.003845,0.000358,-0.010293,-0.004913,...,-0.025359,0.002421,-0.027300,0.010341,0.011027,0.006550,0.003249,0.015500,-0.013315,1.000000